<div class="container">
  <h1>App Component</h1>
  
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <div class="container-fluid">
              <a class="navbar-brand" href="#">primary</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
                  aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarID">
                  <div class="navbar-nav">
                      <a class="nav-link active" aria-current="page" routerLink="fkart">Fkart</a>
                      
                  </div>
                  <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" routerLink="azon">Azon</a>
                    
                </div>
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" routerLink="user">User</a>
                    
                </div>
              </div>
          </div>
      </nav>
      <router-outlet class="container"></router-outlet>
</div>