
<button class="btn btn-primary" (click)="onCreate()">Create new</button>
<div
    class="table-responsive"
>
    <table
        class="table"
    >
        <thead>
            <tr>
                <th scope="col">userId</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Aboout</th>
            </tr>
        </thead>
        <tbody *ngFor="let user of users">
            <tr class="">
                <td scope="row">{{user.Id}}</td>
                <td>{{user.Name}}</td>
                <td>{{user.email}}</td>
                <td><button class="btn btn-warning mx-2" (click)="onEdit(user.Id)">Edit</button>
                <button class="btn btn-danger mx-2" (click)="onDelete(user.Id, user.Name)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>

